.loader {
  --c: no-repeat linear-gradient(#333333 0 0);

  width: 300px;
  height: 6px;
  overflow: hidden;
  background: var(--c), var(--c), rgba(0 0 0 /30%);
  background-size: 60% 100%;
  border-radius: 3px;
  animation: l16 3s infinite;
}

@keyframes l16 {
  0% {
    background-position:
      -150% 0,
      -150% 0;
  }
  66% {
    background-position:
      250% 0,
      -150% 0;
  }
  100% {
    background-position:
      250% 0,
      250% 0;
  }
}
