@tailwind utilities;

@font-face {
  font-family: sans;
  font-weight: 400;
  src: url("./assets/fonts/SourceHanSansCN/Regular.otf");
}

@font-face {
  font-family: sans;
  font-weight: 500;
  src: url("./assets/fonts/SourceHanSansCN/Medium.otf");
}

@font-face {
  font-family: sans;
  font-weight: 800;
  src: url("./assets/fonts/SourceHanSansCN/Bold.otf");
}

@font-face {
  font-family: sans;
  font-weight: 900;
  src: url("./assets/fonts/SourceHanSansCN/Heavy.otf");
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}
